@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --color:#222831;
    --color2:#393E46;
    --color3:#FFD369;
    --color4:#EEEEEE;
    --border: .1rem solid rgba(255,255,255,.3);
    --border2: .1rem solid rgba(17, 17, 17, 0.3);
}

* {
    font-family: 'Roboto', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

/* ---------- html ---------- */
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
	width: .8rem;
}

html::-webkit-scrollbar-track
{
	background: transparent;
}

html::-webkit-scrollbar-thumb
{
	background: #fff;
	border-radius: 5rem;
}

/* body background */
body{
	background: var(--color4);
}

/* Section */
section{
    padding: 2rem 7%;
}

/* Header */
.header{
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img
{
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 15rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #FFD369;
    font-weight: bold;
    text-transform: uppercase;
}

.header .navbar a:hover{
    color: var(--color4);
    border-bottom: .1rem solid var(--border);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #FFD369;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--color4);
}

/* hide menu button */
.icons .fas.fa-bars{
    display: none;
}

/* active for JavaScripts */
.user-box.active {
    display: block;
    transform: scale(1);
}

/* User box login */
.user-box{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background: #000000;
    border: 1px solid #000000;
    padding: 20px;
    box-shadow: var(--border);
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.user-box p{
    margin: 10px 0;
    word-wrap: break-word; 
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: 100%;
    font-size: 1.5rem;
    color: var(--color4);
    font-weight: bolder;
}

.user-box .btn {
    display: block;
    margin: 15px auto;
    padding: 10px 37px;
    border-radius: 5px;
    color:var(--color3);
    background:var(--color2);
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size:1.7rem;
}

.user-box .btn:hover{
    letter-spacing: .2rem;
}


/* search form icon */
.header .search-form
{
	position:absolute;
	top:115%; right:7%;
	background:#000000;
	width:50rem;
	height:5rem;
	display:flex;
	align-items:center;
	transform:scaleY(0);
	transform-origin:top;
    
}

#search-box{
    background: #000000;
}

.header .search-form.active{
	transform:scaleY(1);
}

.header .search-form input{
	height:100%;
	width:100%;
	font-size:1.6rem;
	color:var(--color4);
	padding:1rem;
	text-transform:none;
}

.header .search-form label{
	cursor:pointer;
	font-size:2.2rem;
	margin-right:1.5rem;
	color:var(--color4);
}

.header .search-form label:hover{
	color:var(--color3);
}

/* home section */
.home-abt{
	min-height:120vh;
	display:flex;
    justify-content: center;
	align-items: center;
    background:url(../pics/BackgrounDe.png) no-repeat;
	background-size:cover;
	background-position:center;
    background-position:center;
}

.home-abt .content-abt{
	max-width:60rem;
    text-align: center;
}

.home-abt .content-abt h1{
	font-size:6rem;
	text-transform:uppercase;
	color:#fff;
}

.home-abt .content-abt span{
	color:var(--color3);
    text-transform: uppercase;
    font-size: 6rem;
}

/* about our business heading */
.about{
	background-color: #EEEDDE;
	padding: 40px;
	text-align: center;
}

.about .heading{
	text-align:center;
	color:#000000;
	text-transform:uppercase;
	padding-bottom:3.5rem;
	font-size:4rem;
}

.about .heading span{
	text-align:center;
	color:goldenrod;
	text-transform:uppercase;
	padding-bottom:3.5rem;
	font-size:4rem;
}

.about .box-container .box h1{
	color: #000000;
	font-size:2.5rem;
	padding:1rem 0;
}

.about .box-container .box p{
	color:#000000;
	font-size:1.5rem;
	padding:.5rem 0;
	text-align: justify;
	text-transform: initial;
    font-weight: 400;
}

.about .box-container .box:hover{
	background:var(--color3);
}

.about .box-container .box:hover > *{
	color:var(--color);
}

/* our business section */
.about .box-container{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
	gap:1.5rem;
	
}

.about .box-container .box{
	padding: 5rem;
	text-align:center;
	border:var(--border2);
}

.about .box-container .box img{
	height:14rem;
    width: 15rem;
}

/* our team heading */
.team{
	background-color: #EEEDDE;
	padding: 40px;
	text-align: center;
}

.team .heading{
	text-align:center;
	color:#000000;
	text-transform:uppercase;
	padding-bottom:3.5rem;
	font-size:4rem;
}

.team .heading span{
	text-align:center;
	color:goldenrod;
	text-transform:uppercase;
	padding-bottom:3.5rem;
	font-size:4rem;
}

/* team box */
.team .team-box{
    width: 100%;
    margin: 0 auto;
    display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	top:13%;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
	row-gap:8rem;
	column-gap:2rem;
}

.team .team-box .profile{
	width:400px;
    height:400px;
    background: #000000;
	border-radius:50%;
	margin:0 150px;
	display:flex;
	align-items: center;
	justify-content: center; 
	position: relative;
	box-shadow:0 0 8px rgb(22, 22, 22);
	transition:0.4s;
	text-align: center;
}

.team .team-box .profile:hover{
	border-radius:20px;
	height:320px;
}

.team .team-box .profile img{
	width:270px;
	height:270px;
	object-fit:cover;
	object-position:center;
	border-radius:50%;
	cursor:pointer;
	z-index:2;
	transition: 0.4s;
}

.team .team-box .profile:hover img{
	border-radius:20px;
	margin-top:-200px;
}

.team .team-box .profile .info{
	position: absolute;
	text-align: center;
	top: 25%;
	transition: 0.4s;
	width: 142px;
}

.team .team-box .profile:hover .info{
	top:60%;
}

.team .team-box .profile .info .name{
	color:var(--color3);
    margin-top: 1rem;
	margin-bottom:15px;
	text-transform:uppercase;
	font-size:24px;
}

.team .team-box .profile .info .bio {
	width:100%;
	text-align:center;
	margin:0 auto 10px auto;
	color:#fff;
	max-height: 80px;
    overflow: hidden;
	font-size:15px;
	/* font-style:italic; */
    text-transform: initial;
    font-weight: 400;
}

.team .team-box .profile .info .team-icon i{
	/* margin:10px 5px 5px 0; */
	cursor:pointer;
	transition:0.3s;
	color:var(--color3);;
	 font-size: 12px; 
}

.team .team-box .profile .info .team-icon i:hover{
	color:#fff;
}

/* Footer */
footer{
    position: absolute;
    background: #000000;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #FFD369;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    color: #EEEEEE;
    font-weight: 400;
    font-size: 14px;
    text-transform: initial;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #FFD369;
    font-size: 18px;
}

.socials a i{
    font-size:1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: #EEEEEE;
}

.footer-bottom{
    background-color: #222831;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-weight: 300;
    color: #EEEEEE;
}


























/* media queries */
@media (max-width:991px)
{
	html{
		font-size:55%;
	}
	
	.header{
		padding:1.5rem 2rem;
	}
	
	section

    {
	    padding:2rem;
    }

    .reservation form .inputBox .input{
    	width: 78%;

    }

    .reservation form .inputBox .input textarea{
    	width: calc(78% + 110px);
    }

    .reserve-book .input textarea{
	  width: calc(100% + 320px);
	  height: 7rem;
    }

    .image img{
    	width: 100%;
    }
}

@media (max-width:768px)
{
	#menu-button
	{
		display:inline-block;
	}
	
	.header .navbar
	{
		position:absolute;
		top:100%; right:-100%;
		background:#000000;
		width:30rem;
		height:calc(100vh - 9.5rem);
	}
	
	.header .navbar.active
	{
		right:0;
		
	}
	
	.header .navbar a
	{
		color:var(--color3);
		display:block;
		margin:1.5rem;
		padding:.5rem;
		font-size:2rem;
        text-transform: capitalize;
	}
	
	.header .search-form
	{
		width:90%;
		right:2rem;
	}
	
	.home
	{
		background-position:left;
		justify-content:center;
		text-align:center;
	}
	
	.text1
	{
		font-size:4.5rem;
	}
	
	.text2
	{
		font-size:4.5rem;
	}
	
	.home .content p
	{
		font-size:1.5rem;
	}
}

@media (max-width:450px)
{
	html{
		font-size:50%;
	}
	
}